@charset "UTF-8";

/* Block
───────────────────────────────── */
.\@linkText {
  color: $color-blue;
  position: relative;
  transition: opacity $base-duration $easing;
  &:after {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
    transition: transform $base-duration $easing;
  }

  &:hover {
    opacity: 0.8;
    &:after {
      transform: scaleX(0);
    }
  }
}
