@charset "UTF-8";

/* Block
───────────────────────────────── */
.entry {
  background-color: #fff;
  @include mq-pc {
    overflow: hidden;
    display: grid;
    grid-template:
      'image body' auto /
      0.382fr 0.618fr;
    border-radius: rem(14);
    box-shadow: rem(8) rem(8) rem(24) rgba(0, 0, 0, 0.05);
  }
  @include mq-sp {
    border-radius: 4vw;
    box-shadow: 5vw 5vw 13vw rgba(0, 0, 0, 0.05);
  }
}

/* Image
───────────────────────────────── */
.entry__imageWrap {
  position: relative;
  @include mq-pc {
    grid-area: image;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: rem(40);
  }
  @include mq-sp {
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 13vw;
      width: 100%;
      height: 8vw;
      background: linear-gradient(to top, #fff, rgba(#fff, 0));
    }
  }
}

.entry__thumbnail {
  display: block;
  position: relative;
  z-index: 1;
  @include mq-sp {
    width: 34vw;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-8vw);
  }
}

.entry__background {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include mq-sp {
    border-radius: 4vw 5vw 0 0;
    height: calc(100% - 13vw);
  }

  .entry__image {
    width: inherit;
    height: inherit;
    filter: blur(rem(16)) brightness(138.2%);
    object-fit: cover;
    transform: scale(1.2);
    opacity: 0.618;
  }
}

/* Body
───────────────────────────────── */
.entry__body {
  @include mq-pc {
    grid-area: body;
    padding: rem(64);
  }
  @include mq-sp {
    padding: 0 8vw 13vw 8vw;
  }
}

.entry__lead {
  & + * {
    @include mq-pc {
      margin-top: rem(24);
    }
    @include mq-sp {
      margin-top: 5vw;
    }
  }
}

/* Header
───────────────────────────────── */
.entry__header {
  & + * {
    border-top: 1px solid $color-border;
    @include mq-pc {
      padding-top: rem(40);
      margin-top: rem(16);
    }
    @include mq-sp {
      padding-top: 8vw;
      margin-top: 3vw;
    }
  }
}

.entry__date {
  display: flex;
  align-items: center;
  & + * {
    @include mq-pc {
      margin-top: rem(8);
    }
  }
}

.entry__location {
  border: 1px solid $color-main;
  color: $color-main;
  line-height: 1;
  border-radius: 5em;
  @include font-noto(medium);
  @include mq-pc {
    font-size: rem(13);
    padding: rem(4) rem(16);
  }
  @include mq-sp {
    font-size: vw(13);
    padding: 1vw 3vw;
  }

  & + * {
    @include mq-pc {
      margin-left: rem(8);
    }
    @include mq-sp {
      margin-left: 2vw;
    }
  }
}

.entry__day {
  @include mq-pc {
    font-size: rem(13);
  }
  @include mq-sp {
    font-size: vw(13);
  }
}

.entry__title {
  @include font-noto(medium);
  line-height: 1.5;
  @include mq-pc {
    font-size: rem(22);
  }
  @include mq-sp {
    font-size: vw(17);
  }
}

/* Information
───────────────────────────────── */
.entry__information {
  border-bottom: 1px solid $color-border;
  @include mq-pc {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
  }
  & + * {
    @include mq-pc {
      margin-top: rem(40);
    }
    @include mq-sp {
      margin-top: 5vw;
    }
  }
}

.entry__term {
  background-color: $color-lightBlue;
  border-top: 1px solid $color-border;
  @include mq-pc {
    padding: rem(16) rem(24);
  }
  @include mq-sp {
    padding: 2vw 3vw;
    text-align: center;
    &:not(:first-of-type) {
      margin-top: 3vw;
    }
  }
}

.entry__description {
  @include mq-pc {
    border-top: 1px solid $color-border;
    padding: rem(16) rem(24);
  }
  @include mq-sp {
    padding: 2vw 3vw;
  }
}
