@charset "UTF-8";

/* Block
───────────────────────────────── */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  @include mq-pc {
    min-width: $min-basis;
  }
}

/* Element
───────────────────────────────── */
.header__inner {
  @include mq-pc {
    @include contents;
    display: flex;
    justify-content: space-between;
  }
}

.header__logo {
  @include mq-pc {
    margin-top: rem(24);
  }
  @include mq-sp {
    margin: 4vw 0 0 5vw;
  }
}

.header__logoImage {
  @include mq-pc {
    width: rem(193);
  }
  @include mq-sp {
    width: vw(146);
  }

  img {
    width: 100%;
    height: auto;
  }
}

.header__logoText {
  font-size: rem(12);
  margin-top: rem(8);
  @include font-noto(regular);
  @include pc-item;
}

.header__contents {
  margin: rem(40) rem(128) 0 0;
  @include pc-item;
}

.header__utility {
  display: flex;
  justify-content: flex-end;
}

.header__utilityItem {
  margin-left: rem(24);
}

.header__navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: rem(16);
}

.header__navigationItem {
  margin-left: rem(24);
}

.header__formButton {
  position: absolute;
  top: 0;
  right: 0;
  @include pc-item;
}

.header__formButtonLink {
  display: flex;
  width: rem(168);
  height: rem(141);
  justify-content: center;
  align-items: center;
  background: $color-main;
  text-align: center;
  border-radius: 0 0 0 rem(8);
  transition: $base-duration $easing;
  border: 1px solid $color-main;

  &:hover {
    background: $color-darkBlue;
  }
}

.header__formButtonIcon {
  display: inline-block;
  width: rem(32);
  height: rem(32);
  background: url('/housing/asset/image/icon_form_white.svg') no-repeat;
  background-size: 100%;
  transition: $base-duration $easing;
}

.header__formButtonText {
  color: #fff;
  display: block;
  transition: $base-duration $easing;
  @include font-noto(medium);
}
