@charset "UTF-8";

/* Block
───────────────────────────────── */
.hero {
  position: relative;
  @include mq-pc {
    padding-bottom: rem(128);
  }

  &::before {
    @include mq-pc {
      @include pseudo;
      width: 100%;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
      position: absolute;
      left: 0;
      bottom: 0;
      height: rem(168);
      z-index: 1;
      pointer-events: none;
    }
  }

  & + * {
    @include mq-pc {
      margin-top: rem(104);
    }
    @include mq-sp {
      margin-top: 21vw;
    }
  }
}

/* Element
───────────────────────────────── */
.hero__content {
  position: relative;
  z-index: 2;
  @include contents;
  @include mq-pc {
    padding-top: rem(220);
  }
  @include mq-sp {
    padding: 34vw 8vw 0 8vw;
  }
}

.hero__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  @include mq-pc {
    @include ofi-cover;
  }
}
