@charset "UTF-8";

/* Block
───────────────────────────────── */
.marker {
  @include mq-pc {
    display: grid;
    grid-template:
      'filter content' auto /
      385fr 735fr;
    grid-gap: rem(64);
  }
}

/* Content
───────────────────────────────── */
.marker__content {
  @include mq-pc {
    grid-area: content;
  }
}

/* Item
───────────────────────────────── */
.marker__item {
  background-color: #fff;
  overflow: hidden;
  position: relative;
  @include mq-pc {
    border-radius: rem(14);
    box-shadow: rem(8) rem(8) rem(24) rgba(0, 0, 0, 0.05);
  }
  @include mq-sp {
    border-radius: 4vw;
    box-shadow: 3vw 3vw 8vw rgba(0, 0, 0, 0.05);
  }

  & + * {
    @include mq-pc {
      margin-top: rem(24);
    }
    @include mq-sp {
      margin-top: 3vw;
    }
  }
}

/* Header
───────────────────────────────── */
.marker__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq-pc {
    padding: rem(40);
  }
  @include mq-sp {
    padding: 5vw 8vw;
    pointer-events: none;
  }
}

.marker__logotype {
  & + * {
    @include mq-pc {
      margin-top: rem(8);
    }
    @include mq-sp {
      margin-top: 1vw;
    }
  }
}

/* Body
───────────────────────────────── */
.marker__body {
  border-top: 1px solid $color-border;
  @include mq-pc {
    padding-top: rem(40);
    padding-bottom: rem(64);
    padding-left: rem(40);
    padding-right: rem(40);
  }
  @include mq-sp {
    padding: 8vw;
  }
}

.marker__lead {
  @include font-noto(light);

  & + * {
    @include mq-pc {
      margin-top: rem(24);
    }
    @include mq-sp {
      margin-top: 5vw;
    }
  }
}

/* Buttons
───────────────────────────────── */
.marker__buttons {
  @include mq-pc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: rem(16);
  }
}
